@charset "utf-8";

#container{
	width:1200px;
	position:relative;
	margin:auto;
}

#formField{
	float:left;
	padding:30px;
	border:2px solid #F00;
}

#dataField{
	float:left;
	width:500px;
	margin-left:20px;
	padding:20px;
	border:2px dashed #0000FF;
}

.directory{
	color:#0000FF;
	font-weight:bold;
	cursor:pointer;
}
	